body{
    margin:0;
    padding:0;
    font-family: 'Futura Md BT', sans-serif;
    color: black;
}
a{
    color: black;
    font-weight: bold;
}
.icons img{
    width: 8%;
}
.mainImg{
    margin-top:-26vh
}
.footer p{
    font-size: .8em;
}
.icons{
    margin-top: 7vh;
}
.mainImg .img1{
    width: 100px;
    position: absolute;
}
.mainImg .img2{
    width: 100px;
    position: absolute;
    right: 0;
}
@media only screen and (max-width: 800px) {
    .mainImg{
        margin-top:-16vh;
    }
    .mainImg .img1{
        width: 50px;
        position: absolute;
    }
    .mainImg .img2{
        width: 50px;
        position: absolute;
        right: 0;
    }
}