body{
    margin:0;
    padding:0;
    font-family: 'Futura Md BT', sans-serif;
    color: black;
}
a{
    color: black;
    font-weight: bold;
}
.icons{
    margin-top: 7vh;
    align-content: center;
    padding-left: 22%;
}
.icons img{
    width: 8%;
}
.mainImg{
    margin-top:-26vh
}
.footer p{
    font-size: .8em;
}

.mainImg .img1{
    width: 100px;
    position: absolute;
}
.mainImg .img2{
    width: 100px;
    position: absolute;
    right: 0;
}
.info1 .d3{
    /* left: 0; */
    text-align: center;
}
.info1 .d1{
    text-align: center;
    /* right: 0; */
}
.info1 a{
    color: black;
    display: inline;
}
@media only screen and (max-width: 800px) {
    .mainImg{
        margin-top:-16vh;
    }
    .mainImg .img1{
        width: 100px;
        position: absolute;
        left: 10px;
    }
    .mainImg .img2{
        width: 100px;
        position: absolute;
        right: 10px;
    }
}